USE [master]
GO
/****** Object:  Database [DBAUTOS]    Script Date: 09/10/2023 06:13:28 p. m. ******/
CREATE DATABASE [DBAUTOS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DBAUTOS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLSERVER\MSSQL\DATA\DBAUTOS.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DBAUTOS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLSERVER\MSSQL\DATA\DBAUTOS_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DBAUTOS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DBAUTOS]
GO
/****** Object:  Table [dbo].[AUTOS]    Script Date: 09/10/2023 06:13:28 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AUTOS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Marca] [varchar](50) NOT NULL,
	[Modelo] [varchar](50) NOT NULL,
	[Año] [int] NOT NULL,
	[Color] [varchar](50) NULL,
	[Precio] [decimal](10, 2) NULL,
 CONSTRAINT [PK_AUTOS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AUTOS] ON 

INSERT [dbo].[AUTOS] ([ID], [Marca], [Modelo], [Año], [Color], [Precio]) VALUES (1, N'VOLKSWAGEN JETTA', N'CLASICO', 2015, N'NEGRO', CAST(120000.00 AS Decimal(10, 2)))
INSERT [dbo].[AUTOS] ([ID], [Marca], [Modelo], [Año], [Color], [Precio]) VALUES (2, N'NISSAN', N'TSURU', 2012, N'BLANCO', CAST(85000.00 AS Decimal(10, 2)))
INSERT [dbo].[AUTOS] ([ID], [Marca], [Modelo], [Año], [Color], [Precio]) VALUES (3, N'Chevrolet ', N'Chevi', 2003, N'ROJO', CAST(50000.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[AUTOS] OFF
GO
USE [master]
GO
